{% extends "base.html" %}

{% block app_content %}
<!-- A failed attempt to add rows to a cart table.  Not sure why this isn't working.-->
<!--https://stackoverflow.com/questions/18997336/ajax-add-new-row-to-table-or-remove-using-ajax -->
<!--http://jsfiddle.net/scumah/xtyFh/8/-->
<!-- <script type="text/javascript"> -->
<script type="text/javascript" src="{{ url_for('static', filename='js/customer_purchase.js') }}">


</script>

<div id="cart_header" class="table">Header Stuff?</div>
<div id="cart_body" class="body">
    <div id="cart_item" class="row">things</div>
    
</div>


<!-- <div id="pos">
    <div id="customer">
{{ customer.first_name }}, {{ customer.last_name }}
</div>
<div id="cart_div">
    <table class="dynatable">
        <thead>
            <tr>
                <th>Iten Number</th>
                <th>Description</th>
                <th>Quantity</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody id="cart_body">
            <tr>
                <td><input type="text"></td>
                <td>
                    <input type="text">
                </td>
                <td>
                    <input type="text">
                </td>
                <td>
                    <input type="text">
                </td>
            </tr>
        </tbody>
    </table>
    
</div>
</div> -->
<button class="btn btn-primary addItem" onclick="addItem()">Add Item</button>



{% endblock %}