{% extends "base.html" %}

{% block app_content %}
<!-- A failed attempt to add rows to a cart table.  Not sure why this isn't working.-->
<!--https://stackoverflow.com/questions/18997336/ajax-add-new-row-to-table-or-remove-using-ajax -->
<!--http://jsfiddle.net/scumah/xtyFh/8/-->
<!-- <script type="text/javascript"> -->
<script type="text/javascript" src="{{ url_for('static', filename='js/customer_purchase.js') }}">


</script>
<script type="text/javascript">
        var data = {
            item: "itemNumber",
            description: "Some Description",
            price: "somePrice"
        }
</script>

<table id="tbl1" class="cart">
    <tr>
        <td>Item</td>
        <td>Description</td>
        <td>Quantity</td>
        <td>Price</td>
    </tr>

</table>

<!-- <div id="pos">
    <div id="customer">
{{ customer.first_name }}, {{ customer.last_name }}
</div>
<div id="cart_div">
    <table class="dynatable">
        <thead>
            <tr>
                <th>Iten Number</th>
                <th>Description</th>
                <th>Quantity</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody id="cart_body">
            <tr>
                <td><input type="text"></td>
                <td>
                    <input type="text">
                </td>
                <td>
                    <input type="text">
                </td>
                <td>
                    <input type="text">
                </td>
            </tr>
        </tbody>
    </table>
    
</div>
</div> -->
<button class="btn btn-primary addItem" onclick="addItem('tbl1')">Add Item</button>



{% endblock %}