{% extends "base.html" %}

{% block content %}

    <h1>Add new Item</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <div>
        <p>
            {{ form.description.label }}<br>
            {{ form.description(size=32) }}<br>
            {% for error in form.description.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.sku.label }}<br>
            {{ form.sku(size=63) }}<br>
            {% for error in form.sku.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{form.item_number.label }}<br>
            {{ form.item_number(size=64) }}<br>
            {% for error in form.item_number.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.cost.label }}<br>
            {{ form.cost(size=32) }}<br>
            {% for error in form.cost.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>
            {{ form.price.label }}<br>
            {{ form.price(size=32) }}<br>
            {% for error in form.price.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>
            {{ form.quantity.label }}<br>
            {{ form.quantity(size=32) }}<br>
            {% for error in form.quantity.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>{{ form.submit() }}</p>
        </div>
    </form>


{% endblock %}